@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-league-spartan);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Custom pagination container style */
.custom-pagination {
  @apply absolute bottom-[-20px] left-1/2 transform -translate-x-1/2;
}

.swiper-pagination-bullet {
  @apply bg-blue-600; /* Customize the color */
}

.swiper-pagination-bullet-active {
  @apply bg-blue-800; /* Customize the active color */
}

.custom-gradient {
  background: linear-gradient(64.7deg, #1042BE -13.02%, #6783C7 12.75%, #1042BE 56.41%, #4A6DC5 92.73%);
}
.custom-gradient-news {
  background: linear-gradient(110.41deg, #6581C7 -2.95%, #476BC4 47.04%, #2753C1 101.49%);
}

.bevel {
  position: absolute;
  bottom: 0;
  left: -52px;
  display: inline-block;
  height: 22px;
  width: 22px;
  transform: translateX(100%);
  overflow: hidden;
}

.bevel:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 0 100px #f0f0f0;
  border-radius: 0 0 100% 0;
}

/* New Inverted Triangle Class */


  .bevel-inverted {
    position: absolute;
    bottom: 0;
    left: -30px;
    display: inline-block;
    height: 22px;
    width: 22px;
    transform: translateX(100%);
    overflow: hidden;
  }
  
  .bevel-inverted:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 0 100px #f0f0f0;
    border-radius: 0 0 0 100%;
  }




.bevel2 {
  position: absolute;
  top: -8px;
  right: 21px;
  display: inline-block;
  height: 22px;
  width: 22px;
  transform: translateX(100%);
  overflow: hidden;
}

.bevel2:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 0 100px #f0f0f0 ;
  border-radius: 0 0 100% 0;
  transform: rotate(-90deg);
}

/* New Inverted Triangle Class */


  .bevel2-inverted {
    position: absolute;
    top: -30px;
    right: 21px;
    display: inline-block;
    height: 22px;
    width: 22px;
    transform: translateX(100%);
    overflow: hidden;
  }
  
  .bevel2-inverted:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 0 100px #f0f0f0;
    border-radius: 0 0 100% 0;
  }
  /* Wrapper styling */
 

  

  .bevel4 {
    position: relative;
    top: 0px;
    left: -27px;
    display: inline-block;
    height: 28px;
    width: 28px;
    transform: translateX(100%);
    overflow: hidden;
  }
  
  .bevel4:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 0 100px #f0f0f0;
    border-radius: 0 0 0 100%;
  }


  .bevel5 {
    position: relative;
    top: 0px;
    right: 46px;
    display: inline-block;
    height: 28px;
    width: 28px;
    transform: translateX(100%);
    background-color: transparent;
    overflow: hidden;
  }
  
  .bevel5:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 0 100px #ffffff;
    border-radius: 0 100% 0 0;
  }

  .bevel6 {
    position: relative;
    top: 8px;
    left: -28px;
    display: inline-block;
    height: 28px;
    width: 28px;
    transform: translateX(100%);
    overflow: hidden;
  }
  
  .bevel6:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 0 100px #ffffff;
    border-radius: 60% 0 0 0;
  }

  .bevel7 {
    position: relative;
    top: 0px;
    right: 53px;
    display: inline-block;
    height: 28px;
    width: 28px;
    transform: translateX(100%);
    overflow: hidden;
  }
  
  .bevel7:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 0 100px #f0f0f0;
    border-radius: 0 0 100% 0;
  }

  .bevel8 {
    position: relative;
    top: 0px;
    right: 27px;
    display: inline-block;
    height: 27px;
    width: 27px;
    transform: translateX(100%);
    overflow: hidden;
  }
  
  .bevel8:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 0 100px #f0f0f0;
    border-radius: 0 0 0 90%;
  }

  .bevel9 {
    position: relative;
    top: 0px;
    right: -26px;
    display: inline-block;
    height: 28px;
    width: 28px;
    transform: translateX(100%);
    overflow: hidden;
  }
  
  .bevel9:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 0 100px #f0f0f0;
    border-radius: 0 0 0 100%;
  }
  .bevel10 {
    position: relative;
    top: 1px;
    right: 0px;
    display: inline-block;
    height: 28px;
    width: 28px;
    transform: translateX(100%);
    overflow: hidden;
    transform: rotate(-90deg);
  }
  
  .bevel10:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 0 100px #f0f0f0;
    border-radius: 0 0 0 100%;
  }

  .bevel11 {
    position: relative;
    top: -10px;
    right: 24px;
    display: inline-block;
    height: 28px;
    width: 28px;
    transform: translateX(100%);
    overflow: hidden;
    transform: rotate(0deg);
  }
  
  .bevel11:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 0 100px #f0f0f0;
    border-radius: 0 0 0 100%;
  }

  /* carouselStyles.css */
.fade {
  opacity: 0;
  transition: opacity 0.5s ease-in-out; /* Duration and easing of the fade */
}

.carousel .carousel .slide {
  position: relative; /* Ensure positioning */
}

.carousel .carousel .slide.fade {
  opacity: 1; /* Set opacity to 1 when active */
}


.fader {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.fader__slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.fader img {
  background-color: transparent;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}


.bevel12 {
  position: relative;
  top: 26px;
  right: -52px;
  display: inline-block;
  height: 10px;
  width: 10px;
  transform: translateX(100%);
  overflow: hidden;
  transform: rotate(180deg);
}

.bevel12:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 0 100px #f5f5f5;
  border-radius: 0 0 0 100%;
}
.bevel13 {
  position: relative;
  top: -16px;
  right: 0px;
  display: inline-block;
  height: 10px;
  width: 10px;
  transform: translateX(100%);
  overflow: hidden;
  transform: rotate(180deg);
}

.bevel13:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 0 100px #f5f5f5;
  border-radius: 0 0 0 100%;
}

.bevel14 {
  position: relative;
  top: 0px;
  left: 0px;
  display: inline-block;
  height: 10px;
  width: 10px;
  transform: translateX(100%);
  overflow: hidden;
  transform: rotate(0deg);
}

.bevel14:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 0 100px #f5f5f5;
  border-radius: 0 0 0 100%;
}
.bevel15 {
  position: relative;
  top: 9px;
  right: 0px;
  display: inline-block;
  height: 10px;
  width: 10px;
  transform: translateX(100%);
  overflow: hidden;
  transform: rotate(0deg);
}

.bevel15:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 0 100px #f5f5f5;
  border-radius: 0 0 0 100%;
}
